body{
    margin: 20px;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-list{
    width: auto;
    height: auto;
}

.col-menu{
    padding-bottom: 20px;
    width: 100%;

}

.col-list{
    width: auto;
    height: auto;
}

.left-row-menu{
    height: auto;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-right: 10px;
}

.nav-item-menu{
    position: relative;
}

.nav-item-menu a{
    text-decoration: none;
}
.nav-item-menu span{
    position: absolute;
    top: 5px;
    right: 0px;
    font-size: 25px;
    color: gainsboro;
}

.nav-link-a{
    font-size: 25px;
    font-weight: 600;
    color: gainsboro;
}

.nav-link-a:hover{
    color: black;
}



/* Css right item list */


.item{
    height: auto;
    margin-bottom: 25px;
}

.item-img{
    width: 100%;
    height: 270px;
    background-repeat: no-repeat, repeat;
    background-size: contain;
}

.item-img img:last-child {
    display: none;  
}
.item:hover img:last-child {
    display: block;  
}
.item:hover img:first-child {
    display: none;  
}

.item-img img{
    width: 100%;
    height: 100%;
}

.img-button{
    height: 65px;
    position: relative;
    bottom: 0;
    top: -65px;
    text-align: center;
    margin-bottom: -65px;
    display: none;
}

.img-button a{
    width: 150px;
    height: auto;
    background-color: #F15E2C;
    color: white;
    padding: 13px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}



.item:hover .img-button{
    display: block;
}

.item-info{
    width: 100%;
    height: auto;
    text-align: center;

}

.item-info hr{
    border: 1px dashed black;
    margin-bottom: 5px;
}

.item-info a{
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-weight: 800;
}

.item-info a:hover{
    color: #F15E2C;
}

.item-info p{
    margin-bottom: 0px;
    font-size: 14px;
}

.item-info span{
    font-weight: 700;
}

/* Css left menu*/

.left-row-item{
    width: 100%;
}

.nav-item-under{
    width: 100%;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.nav-item-under a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.list-item-under{
    border: none;
    padding-bottom: 5px;
    margin-top: 10px;
}

.list-item-under:hover{
    background-color: gainsboro;
}

.row-menu-under{
    padding-left: 0px;
    border-bottom: 2px dashed black;
}

.btn-same{
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    border: none;
}

.status-item{
    margin-left: 0px;
    padding-left: 0px;
}

.status-item li{
    margin-bottom: 5px;
    list-style: none;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.status-item a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    
}

.status-item li:hover{
    background-color: gainsboro;
}

.caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
}

.row-menu-under span{
    font-size: 15px;
    margin-left: 6px;
}
